Q1. What is a database? Differentiate between SQL and NoSQL databases.

Answer 1. A database is a collection of data that is organized and managed in a way that enables efficient storage, retrieval, and manipulation of the data. Databases are used to store and manage data for a wide range of applications, including web applications, business applications, scientific research, and more.

There are two main types of databases: SQL and NoSQL.

SQL (Structured Query Language) databases are relational databases that store data in tables with fixed columns and rows. SQL databases are organized around a schema, which defines the structure of the tables and the relationships between them. SQL databases use SQL to interact with the data, and support a wide range of operations such as querying, inserting, updating, and deleting data.

NoSQL (Not Only SQL) databases, on the other hand, are non-relational databases that store data in a variety of ways, such as key-value pairs, documents, graphs, or columns. NoSQL databases are schema-less, meaning that the data can be stored in a flexible way without the need for a predefined schema. NoSQL databases are designed to handle large volumes of unstructured or semi-structured data, and provide high scalability and performance.

The main differences between SQL and NoSQL databases can be summarized as follows:

Data model: SQL databases use a structured, tabular data model, while NoSQL databases use a variety of data models such as key-value, document, graph, or column.

Schema: SQL databases use a schema to define the structure of the data, while NoSQL databases are schema-less and allow for more flexible data storage.

Query language: SQL databases use SQL to interact with the data, while NoSQL databases may use a variety of query languages, depending on the data model.

Scalability: NoSQL databases are designed to scale horizontally across multiple nodes, while SQL databases typically scale vertically by adding more resources to a single node.

Performance: NoSQL databases are optimized for performance, particularly in handling large volumes of data, while SQL databases may be slower when dealing with complex queries or large datasets.

Overall, the choice between SQL and NoSQL databases depends on the specific needs of the application and the type of data being stored. SQL databases are often used for applications with well-defined data structures and complex querying needs, while NoSQL databases are preferred for applications that require high scalability, performance, and flexibility in data storage.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Answer 2. DDL stands for Data Definition Language, which is a set of SQL commands used to define and manipulate the structure of a database. DDL statements are used to create, alter, and delete database objects such as tables, indexes, and views.


1. CREATE:
The CREATE statement is used to create new database objects such as tables, views, indexes, and procedures. For example, to create a new table named "students" with columns "id," "name," and "age," you would use the following command:

Example - Create a table called “Dept” with 5 columns in it.

          Create table Dept
          (
          Dept_ID varchar(5) NOT NULL,
          Dept_Name char(10) NULL,
          DOJ Date NULL,
          Pincode Numeric(8) NULL,
          Due_Date Date NULL
          );


2. DROP:
The DROP statement is used to delete database objects such as tables, views, indexes, and procedures. For example, to delete a table named "DOJ" the following syntax would be used:

         DROP TABLE DOJ;


3. ALTER:
The ALTER statement is used to modify the structure of an existing database object. For example, to add a new column named "email" to the "Dept" table, the following syntax would be used:    

        ALTER TABLE Dept ADD email VARCHAR(50);


4. TRUNCATE:
The TRUNCATE statement is used to delete all the data from a table, but it does not delete the table structure. For example, to remove all data from the "Dept" table, you would use the following command:

        TRUNCATE TABLE Dept;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Answer 3. DML stands for Data Manipulation Language, which is a set of SQL commands used to manipulate the data within a database. DML statements include INSERT, UPDATE, and DELETE, which are used to add, modify, and delete data within a database.

1. INSERT:
The INSERT statement is used to add new data to a database table. For example, to add a new record to the "Dept" table with the values "1" for the "Dept_ID" column, "Maths" for the "Dept_name" column, and "123456" for the "Pincode" column, the following syntax would be used.

         Insert into dept(Dept_ID, Dept_name, Pincode)
         values(1, 'Maths', 123456);
         
         
2. UPDATE:
The UPDATE statement is used to modify existing data in a database table. For example, to update the pincode of the record with id 1 in the "Dept" table to 789012,  the following syntax would be used:

         Update Dept set Pincode = 789012 where dept_ID = 1;
         

3. DELETE:
The DELETE statement is used to remove existing data from a database table. For example, to remove the record from Dept_ID 1 from the Dept table the following command would be used.

         Delete from Dept where Dept_id = 1;

Q4. What is DQL? Explain SELECT with an example.

Answer 4. DQL stands for Data Query Language, which is a set of SQL commands used to retrieve data from a database.

SELECT:
The SELECT statement is used to retrieve data from a database table. For example, to retrieve all data from the "Dept" table, the following syntax would be used.


        Select * from Dept;

This command retrieves all the columns and all the rows from the "Dept" table. If  there is specific requirement to retrieve the data from sppecific coloum or Rows, this SELECT can be used to retrieve the data.

For instance - To retrieve only the "Dept_name" and "DOJ" columns from the Dept table the following syntax would be used.

       Select Dept_name, DOJ from Dept;

Q5. Explain Primary Key and Foreign Key.

Answer 5. In database design, a primary key is a field or combination of fields in a database table that uniquely identifies each record in the table. It is a column or set of columns whose values uniquely identify each row in a table. A primary key must be unique, not-null, and immutable. It is used to enforce data integrity by ensuring that there are no duplicate records in a table.

For example, consider a table named "students" that has columns named "id," "name," and "age." The "id" column can be designated as the primary key of the table because it uniquely identifies each record in the table.

A foreign key is a field in a database table that refers to the primary key of another table. It is used to establish a relationship between two tables. The foreign key in one table is used to reference the primary key in another table. A foreign key can be used to enforce referential integrity by ensuring that any values in the foreign key column must correspond to existing values in the referenced primary key column.

For example, consider a table named "enrollments" that has columns named "student_id" and "course_id." The "student_id" column can be designated as a foreign key that references the "id" column of the "students" table. This relationship ensures that any value in the "student_id" column must correspond to an existing value in the "id" column of the "students" table, thus ensuring referential integrity.

In summary, a primary key is a field or combination of fields that uniquely identifies each record in a table, while a foreign key is a field in a table that references the primary key of another table to establish a relationship between the two tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="database"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM Emptable")

result = mycursor.fetchall()

for row in result:
    print(row)

In the above example, first import the mysql.connector module and then establish a connection to a MySQL database using the connect() method. Then pass the host, user, password, and database name as parameters to the connect() method.

Next, create a cursor object using the cursor() method of the connection object. The cursor object is used to execute SQL queries and fetch results from the database.

Then execute a SQL query using the execute() method of the cursor object. The SQL query "SELECT * FROM Emptable" selects all rows and columns from a table named "Emptable".

Fetch the results of the query using the fetchall() method of the cursor object, which returns a list of tuples representing the rows in the result set.

Finally, iterate over the result set and print each row using a for loop.

In summary, the cursor() method is used to create a cursor object that can be used to execute SQL queries and fetch results from the database, while the execute() method is used to execute an SQL query on the database.

Q7. Give the order of execution of SQL clauses in an SQL query.